<div class="card">
  <div class="card-body">

    <div class="text-end">{{value1}} {{operator}} {{value2}}</div>
    <div class="text-end">{{result}}</div>

    <input type="text" class="form-control text-end mb-1" [ngModel]="inputDisplay" disabled>

    <div class="d-flex flex-row">
      <div class="btn btn-secondary" (click)="insertChar('1')">1</div>
      <div class="btn btn-secondary" (click)="insertChar('2')">2</div>
      <div class="btn btn-secondary" (click)="insertChar('3')">3</div>
      <div class="btn btn-primary" (click)="execOperator('+')">+</div>
    </div>
    <div class="d-flex flex-row">
      <div class="btn btn-secondary" (click)="insertChar('4')">4</div>
      <div class="btn btn-secondary" (click)="insertChar('5')">5</div>
      <div class="btn btn-secondary" (click)="insertChar('6')">6</div>
      <div class="btn btn-primary" (click)="execOperator('-')">&minus;</div>
    </div>
    <div class="d-flex flex-row">
      <div class="btn btn-secondary" (click)="insertChar('7')">7</div>
      <div class="btn btn-secondary" (click)="insertChar('8')">8</div>
      <div class="btn btn-secondary" (click)="insertChar('9')">9</div>
      <div class="btn btn-primary" (click)="execOperator('*')">&times;</div>
    </div>
    <div class="d-flex flex-row">
      <div class="btn btn-secondary" (click)="insertChar('0')">0</div>
      <div class="btn btn-secondary" (click)="insertChar('.')">&middot;</div>
      <div class="btn btn-primary" (click)="evaluate(null)">=</div>
      <div class="btn btn-primary" (click)="execOperator('/')">&divide;</div>
    </div>
    <div class="d-flex flex-row">
      <div class="btn btn-secondary" (click)="reset()">AC</div>
    </div>
  </div>
</div>
